@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h2 {
    font-size: 28px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p {
    text-align: justify;
}

span {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
}

b {
    color: darkgrey;
}

@layer components {
    .border-transition {
        border: 2px solid transparent;
        background-image: linear-gradient(white, white), linear-gradient(to right, blue, pink);
        background-origin: border-box;
        background-clip: content-box, border-box;
        transition: border-color 1s ease-in-out;
    }

    .border-transition:hover {
        border-color: transparent;
    }
}

.bg-gradient-transition {
    background: linear-gradient(135deg, black, #111A3E);
}